$border-color: #efefef;
$box-shadow-color: rgb(50, 50, 50);
.product-list {
    list-style: none;
    margin: 0;
}

.product-container {
    padding: 3rem 3rem 0 0;
    position: relative;
    border: 1px solid $border-color;
    margin: 10px 0;

    &:hover {
        box-shadow: 0 0 5px rgba($box-shadow-color, 0.3);
    }

    .product-img {
        max-height: 250px;
    }

    .product-price {
        float: right;
        margin-top: 1rem;
    }
}
