<div class="row">
    <div class="small-12 medium-8 columns">
        <h3>Pick your favorite juice</h3>
        <ul class="product-list">
            <li *ngFor="let product of products | async" class="product-container">
                <div class="row">
                    <div class="medium-3 columns text-center">
                        <img src="./assets/{{product.id}}.jpg" class="product-img">
                    </div>
                    <div class="medium-9 columns">
                        <h4>
                            <span class="text--bold js-product-name">{{ product.name }}</span>
                            <span class="product-price js-product-price">{{ product.price | currency:"USD":true }}</span>
                        </h4>
                        <p class="js-product-desc">{{ product.description }}</p>
                        <div class="ingredients">
                            <span class="text--bold">ingredients</span>
                            <br>
                            <span *ngFor="let ingredient of product.ingredients">
                                {{ ingredient.name }} {{ ingredient.percentage }}
                                <br>
                            </span>
                        </div>
                        <div class="buttons">
                            <button type="button"
                                    class="button success large js-btn-add"
                                    (click)="addProductToCart(product, 1)">
                                Add To Cart
                            </button>
                            <button type="button"
                                    class="button small js-btn-remove"
                                    (click)="removeProductFromCart(product, 1)">
                                Remove item from cart
                            </button>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</div>
<div class="small-12 medium-4 columns">
    <app-shopping-cart></app-shopping-cart>
</div>
